@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

body {
  background-color: #F8EFEA;
  font-family: 'Inria Serif';
  width: 100vw;
  display: flex;
}

button {
  background-color: #192F01 !important;
  transition: none !important;
}

button:focus {
  outline: none !important;
}

button:focus-visible{
  outline: none !important;
}

button:hover {
  border-color: #192F01 !important;
}

.header {
  font-size: 38px;
  color:#192F01;
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100vw;
  background-color: #192F01;
  padding-top:5px;
  padding-bottom:5px;
}

.searchBar {
  width: 95vw;
  text-align: center;
  background-color: #EADDFF;
  color: #192F01;
  border-radius: 20px;
  padding: 5px;
  border-style:solid;
  border-width: 1px;
  font-family: 'Inria Serif';
  font-size: 15px;
}

.searchDetail {
  color:#FAE2D5;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  padding-left:15px;
}

.searchResultButton {
  background-color: #FAE2D5 !important;
  color:#192F01;
  border-radius: 20px;
  border-style: solid;
  border-width:1px;
  text-align:center;
  font-size:15px;
  width: 72px;
  height:32px;
  padding:5px;
  border-color: #192F01;
  margin-right:15px;
}

.searchResult {
  background-color: #192F01;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width:350px;
  height:87px;
}

.loginBar {
  width: 250px;
  height: 50px;
  background-color: #FAE2D5;
  font-family:'Inria Serif';
  font-size:24px;
  border-radius:20px;
  border-style:solid;
  border-width:1px;
  text-align: center;
  color:#000000;
}

.bigSubmitButton {
  background-color: #192F01;
  font-size: 30px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom:10px;
}

/* .navIcons {
  padding-top:5px;
  padding-bottom:5px;
} */