@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8EFEA;
  font-family: 'Inria Serif';
  width: 100vw;
  display: flex;
  flex-direction:column;
  justify-items: flex-start;
}

button {
  background-color: #192F01 !important;
  transition: none !important;
}

button:focus {
  outline: none !important;
}

button:focus-visible{
  outline: none !important;
}

button:hover {
  border-color: #192F01 !important;
}

.header {
  font-size: 38px;
  color:#192F01;
  align-self: flex-start;
  padding-left: 20px;
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100vw;
  background-color: #192F01;
  padding-top:5px;
  padding-bottom:5px;
}

.postReactionBox {
  display:flex;
  flex-direction:row;
  gap:10px;
  padding-left: 20px;
}

.pageTitle {
  font-size: 20px;
  color: #192F01;
  align-self: flex-start;
  padding-left: 20px;
}

.settingsButton {
  align-self: flex-end;
  padding-right:20px;
}

.profileBlurb {
  font-size: 15px;
  border-radius: 20px;
  background-color: #FAE2D5;
  color:#192F01; 
  height:100%;
  padding:10px;
}

.profileSummary {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap:10px;
}

.profilePlateTop {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:100vw;
}

.profilePlateBottom {
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  width:100vw;
}

.profilePlate {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.followTab {
  text-align:center;
  color:#192F01;
}

.followBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  gap:25px;
}

.searchBar {
  width: 350px;
  text-align: center;
  background-color: #EADDFF;
  color: #192F01;
  border-radius: 20px;
  padding: 0px;
  border-style:solid;
  border-width: 1px;
  font-family: 'Inria Serif';
  font-size: 16px;
}

.searchDetail {
  color:#FAE2D5;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  padding-left:15px;
}

.searchResultButton {
  background-color: #FAE2D5 !important;
  color:#192F01;
  border-radius: 20px;
  border-style: solid;
  border-width:1px;
  text-align:center;
  font-size:15px;
  width: 72px;
  height:32px;
  padding:5px;
  border-color: #192F01;
  margin-right:15px;
}

.searchFilter {
  padding-top: 0px;
  padding-bottom:0px;
  padding-left:15px;
  padding-right: 15px;
  font-size:15px;
}

.searchFilterBar {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width:90vw;
  gap: 10px;
}

.searchResult {
  background-color: #192F01;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width:350px;
  height:87px;
}

.followersView {
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 100vw;
  align-items: center;
}

.logInView {
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBar {
  width: 250px;
  height: 50px;
  background-color: #FAE2D5;
  font-family:'Inria Serif';
  font-size:24px;
  border-radius:20px;
  border-style:solid;
  border-width:1px;
  text-align: center;
  color:#000000;
}

.logInGreeting {
  font-size: 38px;
  color:#192F01;
}

.logInSubGreeting {
  font-size: 20px;
  color: #192F01;
}

.signUpButton {
  font-size: 16px;
  background-color: #F8EFEA !important;
  color:#192F01;
  text-decoration: underline;
  padding:0px;
}

.bigSubmitButton {
  background-color: #192F01;
  font-size: 30px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom:10px;
}