@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
  font-family: "Inria Serif";
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

button {
  transition: none !important;
}

button:focus {
  outline: none !important;
}

button:focus-visible {
  outline: none !important;
}

button:hover {
  border-color: #496354 !important;
}

ul {
  list-style-type: circle;
}

.bottomPanel {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.header {
  font-size: 38px;
  color: #496354;
  /* padding-left: 20px; */
}

.navIcons {
  border-radius: 0px;
  border-width: 0px;
  background-color: #496354;
}

.footerBackground {
  background-color: #496354 !important;
  width: 100vw !important;
}

.recipeCheckPanel {
  background-color: #ebd2ad;
  border-radius: 20px;
  color: #496354 !important;
}

.websiteRetrievalView {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.postReactionBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pageTitle {
  color: #496354;
}

.recipeCheckTitle {
  font-size: 20px;
  color: #496354;
  align-self: flex-start;
  margin-bottom: 10px;
}

.settingsButton {
  align-self: flex-end;
}

.w-350 {
  width: 350px;
}

.standardBorder {
  border-radius: 20px;
}

.carouselRecipeItem {
  display: flex;
  flex: none;
  scroll-snap-align: start;
}
.carousel-start .carouselRecipeItem {
  scroll-snap-align: start;
}
.carousel-center .carouselRecipeItem {
  scroll-snap-align: center;
}
.carousel-end .carouselRecipeItem {
  scroll-snap-align: end;
}
.profileBlurb {
  font-size: 15px;
  border-radius: 20px;
  background-color: #ebd2ad;
  color: #496354;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.customModification {
  font-size: 15px;
  border-radius: 20px;
  background-color: #ebd2ad;
  color: #496354;
  padding: 10px;
  width: 350px;
}

.profileSummary {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}

.profilePlateTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 20px;
  margin-left:20px; */
}

.profilePlateBottom {
  justify-content: space-evenly;
}

.profilePlate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.followTab {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #496354;
}

.followBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 25px;
}

.searchBar {
  text-align: center;
  color: #496354;
  border-radius: 20px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  font-family: "Inria Serif";
  font-size: 16px;
}

.searchDetail {
  color: #ebd2ad;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  padding-left: 15px;
}

.searchResultButton {
  background-color: #ebd2ad !important;
  color: #496354;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 15px;
  width: 72px;
  height: 32px;
  padding: 5px;
  border-color: #496354;
  margin-right: 15px;
}

.searchFilter {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}

.searchFilterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.menu-horizontal li a.active {
  background-color: #b1c6ba !important;
}

/* To ensure hover state doesn't override the active state */
.menu-horizontal li a.active:hover {
  background-color: #b1c6ba !important;
}

.searchResult {
  background-color: #496354;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 87px;
}

.followersView {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.homeCard {
  margin-top: 20px;
}

.logInView {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBar {
  width: 250px;
  height: 50px;
  background-color: #ebd2ad;
  font-family: "Inria Serif";
  font-size: 24px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: #000000;
}

.logInGreeting {
  font-size: 38px;
  color: #496354;
}

.logInSubGreeting {
  font-size: 20px;
  color: #496354;
}

.signUpButton {
  font-size: 16px;
  background-color: #f8efea !important;
  color: #496354;
  text-decoration: underline;
  padding: 0px;
}

.bigSubmitButton {
  background-color: #496354;
  color: #ebd2ad;
  font-size: 30px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.upperBioFlexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settingWithToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #496354;
  align-items: center;
  font-size: 20px;
}

.settingNoToggle {
  color: #496354;
  font-size: 20px;
}

.modificationDropDown {
  width: 350px;
  height: 50px;
  background-color: #ebd2ad;
  font-family: "Inria Serif";
  font-size: 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: #000000;
  align-self: center;
}

.dayMonthDateEntry {
  background-color: #ebd2ad;
  color: #496354;
  border-radius: 20px;
  width: 12%;
  margin-left: 10px;
  height: 40px;
  padding-left: 10px;
}

.yearDateEntry {
  background-color: #ebd2ad;
  color: #496354;
  border-radius: 20px;
  width: 24%;
  margin-left: 10px;
  height: 40px;
  padding-left: 10px;
}

.recipeBoxCardImg {
  max-height: 250px;
  min-height: 100%;
  max-width: 50%;
}

.recipeImg {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}

.recipeImgMobile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
